[Unit]
Description=Git Repositories Server Daemon
Documentation=man:git-daemon(1)

[Service]
User=nobody
ExecStart=-/usr/bin/scl enable rh-git29 -- /opt/rh/rh-git29/root/usr/libexec/git-core/git-daemon --base-path=/var/opt/rh/rh-git29/lib/git --export-all --user-path=public_git --syslog --inetd --verbose
StandardInput=socket
